app-template:
  controllers:
    vaultwarden:
      containers:
        app:
          image:
            repository: docker.io/vaultwarden/server
            tag: 1.35.2
          env:
            DOMAIN: "https://vault.meyeringh.org"
            DATABASE_URL:
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-postgres-app
                  key: uri
            ADMIN_TOKEN:
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-admin
                  key: ADMIN_TOKEN
            SSO_ENABLED: "true"
            SSO_AUTHORITY: "https://dex.meyeringh.org"
            SSO_CLIENT_ID: "vaultwarden"
            SSO_CLIENT_SECRET:
              valueFrom:
                secretKeyRef:
                  name: vaultwarden-sso-secrets
                  key: SSO_CLIENT_SECRET
            SSO_SCOPES: "openid email profile"
          resources:
            requests:
              cpu: 10m
              memory: 100Mi
            limits:
              memory: 100Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: 80
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: 80
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /
                  port: 80
                periodSeconds: 10
                failureThreshold: 60

  service:
    app:
      controller: vaultwarden
      ports:
        http:
          port: 80

  ingress:
    main:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: "homelab-tunnel.meyeringh.org"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      hosts:
        - host: &host vault.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: app
                port: 80
      tls:
        - hosts:
            - *host
          secretName: vaultwarden-tls-certificate

  persistence:
    data:
      type: persistentVolumeClaim
      existingClaim: vaultwarden-data-vaultwarden-0
      globalMounts:
        - path: /data
