app-template:
  defaultPodOptions:
    securityContext:
      fsGroup: 1000
  controllers:
    jellyfin:
      containers:
        jellyfin:
          image:
            repository: docker.io/jellyfin/jellyfin
            tag: 10.11.3
          resources:
            requests:
              cpu: 10m
              memory: 1000Mi
            limits:
              memory: 1000Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8096
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8096
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8096
                periodSeconds: 10
                failureThreshold: 30
        sabnzbd:
          image:
            repository: lscr.io/linuxserver/sabnzbd
            tag: 4.5.5
          env:
            TZ: Europe/Berlin
          resources:
            requests:
              cpu: 10m
              memory: 300Mi
            limits:
              memory: 300Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8080
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8080
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8080
                periodSeconds: 10
                failureThreshold: 30
        prowlarr:
          image:
            repository: lscr.io/linuxserver/prowlarr
            tag: 2.0.5
          env:
            TZ: Europe/Berlin
          resources:
            requests:
              cpu: 10m
              memory: 300Mi
            limits:
              memory: 300Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 9696
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 9696
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 9696
                periodSeconds: 10
                failureThreshold: 30
        radarr:
          image:
            repository: lscr.io/linuxserver/radarr
            tag: 5.27.5
          env:
            TZ: Europe/Berlin
          resources:
            requests:
              cpu: 10m
              memory: 300Mi
            limits:
              memory: 300Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 7878
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 7878
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 7878
                periodSeconds: 10
                failureThreshold: 30
        sonarr:
          image:
            repository: lscr.io/linuxserver/sonarr
            tag: 4.0.16
          env:
            TZ: Europe/Berlin
          resources:
            requests:
              cpu: 10m
              memory: 300Mi
            limits:
              memory: 300Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8989
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8989
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 8989
                periodSeconds: 10
                failureThreshold: 30
        jellyseerr:
          image:
            repository: docker.io/fallenbagel/jellyseerr
            tag: 2.7.3
          env:
            TZ: Europe/Berlin
          resources:
            requests:
              cpu: 10m
              memory: 300Mi
            limits:
              memory: 300Mi
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 5055
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 5055
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 5055
                periodSeconds: 10
                failureThreshold: 30
  service:
    jellyfin:
      controller: jellyfin
      ports:
        http:
          port: 8096
          protocol: HTTP
        sabnzbd:
          port: 8080
          protocol: HTTP
        prowlarr:
          port: 9696
          protocol: HTTP
        radarr:
          port: 7878
          protocol: HTTP
        sonarr:
          port: 8989
          protocol: HTTP
        jellyseerr:
          port: 5055
          protocol: HTTP
  ingress:
    jellyfin:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
        external-dns.alpha.kubernetes.io/target: "homelab-tunnel.meyeringh.org"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      hosts:
        - host: &jellyfinHost media.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: http
        - host: &jellyseerrHost requests.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: jellyseerr
      tls:
        - secretName: jellyfin-tls-certificate
          hosts:
            - *jellyfinHost
            - *jellyseerrHost
    servarr:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - host: &sabnzbdHost sabnzbd.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: sabnzbd
        - host: &prowlarrHost prowlarr.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: prowlarr
        - host: &radarrHost radarr.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: radarr
        - host: &sonarrHost sonarr.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: jellyfin
                port: sonarr
      tls:
        - secretName: servarr-tls-certificate
          hosts:
            - *sabnzbdHost
            - *prowlarrHost
            - *radarrHost
            - *sonarrHost
  persistence:
    data:
      enabled: true
      accessMode: ReadWriteOnce
      size: 100Gi
      retain: true
      advancedMounts:
        jellyfin:
          jellyfin:
            - path: /config
              subPath: jellyfin/config
            - path: /media/movies
              subPath: movies
            - path: /media/shows
              subPath: shows
          sabnzbd:
            - path: /config
              subPath: sabnzbd/config
            - path: /downloads
              subPath: sabnzbd/downloads
          prowlarr:
            - path: /config
              subPath: prowlarr/config
          radarr:
            - path: /config
              subPath: radarr/config
            - path: /downloads/complete
              subPath: sabnzbd/downloads/complete
            - path: /movies
              subPath: movies
          sonarr:
            - path: /config
              subPath: sonarr/config
            - path: /downloads/complete
              subPath: sabnzbd/downloads/complete
            - path: /shows
              subPath: shows
          jellyseerr:
            - path: /app/config
              subPath: jellyseerr/config