app-template:
  controllers:
    paperless:
      containers:
        paperless:
          image:
            repository: ghcr.io/paperless-ngx/paperless-ngx
            tag: 2.20.7
          resources:
            requests:
              cpu: 919m
              memory: 2500Mi
            limits:
              memory: 2500Mi
          env:
            PAPERLESS_PORT: 8000
            PAPERLESS_ADMIN_USER: admin
            PAPERLESS_URL: https://paperless.meyeringh.org
            PAPERLESS_DBHOST: paperless-postgres-rw
            PAPERLESS_DBPASS:
              valueFrom:
                secretKeyRef:
                  name: paperless-postgres-app
                  key: password
            PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
            PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
              {
                "openid_connect": {
                  "APPS": [
                    {
                      "provider_id": "dex",
                      "name": "Dex",
                      "client_id": "paperless",
                      "secret": "$(PAPERLESS_CLIENT_SECRET)",
                      "settings": {
                        "server_url": "https://dex.meyeringh.org/.well-known/openid-configuration"
                      }
                    }
                  ]
                }
              }
          envFrom:
            - secret: "{{ .Release.Name }}-secret"
            - secret: "paperless-sso-secrets"
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api/health
                  port: 8000
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api/health
                  port: 8000
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /api/health
                  port: 8000
                periodSeconds: 10
                failureThreshold: 120
        redis:
          image:
            repository: docker.io/library/redis
            tag: 8.6.0
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 6379
                periodSeconds: 10
                failureThreshold: 3
            readiness:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 6379
                periodSeconds: 10
            startup:
              enabled: true
              custom: true
              spec:
                tcpSocket:
                  port: 6379
                periodSeconds: 10
                failureThreshold: 60
        rclone:
          image:
            repository: rclone/rclone
            tag: 1.73.1
          command: ["/bin/sh","-c"]
          args:
            - >
              mkdir -p /consume &&
              while true; do
                chown -R 1000:1000 /consume &&
                rclone move nextcloud: /consume --config /config/rclone.conf --include "*.pdf" --include "*.jpg" --include "*.jpeg" --include "*.png" --include "*.tif" --include "*.tiff" --no-traverse &&
                sleep 30;
              done
  service:
    paperless:
      controller: paperless
      ports:
        http:
          port: 8000
          protocol: HTTP
  ingress:
    paperless:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod 
        external-dns.alpha.kubernetes.io/target: "homelab-tunnel.meyeringh.org"
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
      hosts:
        - host: &host paperless.meyeringh.org
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: paperless
                port: http
      tls:
        - hosts:
            - *host
          secretName: paperless-tls-certificate
  persistence:
    data:
      accessMode: ReadWriteOnce
      size: 10Gi
      retain: true
      advancedMounts:
        paperless:
          paperless:
            - path: /usr/src/paperless/data
              subPath: data
            - path: /usr/src/paperless/media
              subPath: media
            - path: /usr/src/paperless/consume
              subPath: consume
          rclone:
            - path: /consume
              subPath: consume
    rclone-config:
      type: secret
      name: nextcloud-webdav-secret
      defaultMode: 0440
      advancedMounts:
        paperless:
          rclone:
            - path: /config
