ingress-nginx:
  controller:
    allowSnippetAnnotations: true
    config:
      annotations-risk-level: "Critical"
    admissionWebhooks:
      timeoutSeconds: 30
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  tcp:
    587: proton/proton:1025
    25565: minecraft/minecraft:25565
